rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    // Allow user to upload files into their own folder.
    // Allow admins to read and write all files.
    match /documents/{userId}/{allPaths=**} {
      allow read, write: if isOwner(userId);
    }
  }
}
